$primary-color:#008F8F;
*{ margin:0;
padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin:0;
}

header{
background-color: rgb(181, 205, 196);
}
header>.container>h1{
    padding-top: 20px;
    color: #008F8F;
}
.container{
    margin: auto;
    // background-color: rgb(147, 200, 182);
    width: 80%;
    max-width: 1140px;
}
header>.container>nav>ul{
display: flex;
// justify-content: space-between;
}
header>.container>nav>ul>li{
    margin-right: 30px;
}
header>.container>nav>ul>li>a{
    line-height:  60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}
// // ＝＝＝＝＝＝＝＝
// 內容區塊
// ＝＝＝＝＝＝＝＝＝

// 圖片相關
.img-fluid{
    width: 100%;
}
.img-rounded{
border-radius: 8px;
}
.img-circle{
    border-radius: 100%;
    }
// 區塊相關
.row{
    display: flex;
    flex-wrap: wrap;
    // 換行
}
// 文字相關
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
// 區塊相關

// 四欄式
.col-3{
    width:calc(100%/3 - 20px);
    margin: 0px 10px 40px 10px;
    // 上右下左
    
}
// 三欄式
.col-4{
    width:calc(100%/4 - 20px);
    margin: 0px 10px 40px 10px;
    // 上右下左
    
}
// 兩欄式
.col-6{
    width:calc(100%/6 - 20px);
    margin: 0px 10px 40px 10px;
    // 上右下左
    
}