$primary-color:#008F8F;
*{ margin:0;
padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin:0;
}

header{
background-color: rgb(181, 205, 196);
}
header>.container>h1{
    padding-top: 20px;
}
.container{
    margin: auto;
    // background-color: rgb(147, 200, 182);
    width: 80%;
    max-width: 1140px;
}
header>.container>nav>ul{
display: flex;
// justify-content: space-between;
}
header>.container>nav>ul>li{
    margin-right: 30px;
}
header>.container>nav>ul>li>a{
    line-height:  60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}
