// 設定變數$開頭
$primary-color:#7EA16B;
body{
    font-family:Impact,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $primary-color;
}
.btn-primary{
    background-color:$primary-color;
    color: white;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 2px;
}