* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

header {
  background-color: #b5cdc4;
}

header > .container > h1 {
  padding-top: 20px;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1140px;
}

header > .container > nav > ul {
  display: flex;
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  color: #008F8F;
  font-size: 1.2em;
  letter-spacing: 2px;
}

header h1 {
  color: #008F8F;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.col-3 {
  width: calc(100%/3 - 20px);
  margin: 0px 10px 40px 10px;
}

.col-4 {
  width: calc(100%/4 - 20px);
  margin: 0px 10px 40px 10px;
}

.col-6 {
  width: calc(100%/6 - 20px);
  margin: 0px 10px 40px 10px;
}